GRAFANA_CLOUD_API_KEY=your-grafana-cloud-api-key
GRAFANA_CLOUD_METRICS_URL=your-grafana-cloud-url
GRAFANA_CLOUD_METRICS_USERNAME=your-grafana-cloud-username
GRAFANA_CLOUD_METRICS_PASSWORD=your-grafana-cloud-password
GRAFANA_CLOUD_LOG_USERNAME=your-grafana-cloud-username
GRAFANA_CLOUD_LOG_PASSWORD=your-grafana-cloud-password
GRAFANA_CLOUD_LOG_URL=your-grafana-cloud-url
GRAFANA_CLOUD_TRACE_USERNAME=your-grafana-cloud-username
GRAFANA_CLOUD_TRACE_PASSWORD=your-grafana-cloud-password
GRAFANA_CLOUD_TRACE_URL=your-grafana-cloud-url

PATH=$PATH:$(go env GOPATH)/bin
