source .envrc.local

GRAFANA_CLOUD_API_KEY=${GC_API_KEY}
GRAFANA_CLOUD_METRICS_URL=https://prometheus-us-central1.grafana.net/api/prom/push
GRAFANA_CLOUD_LOG_URL=https://logs-prod-017.grafana.net
GRAFANA_CLOUD_TRACE_URL=https://tempo-us-central1.grafana.net/tempo

PATH=$PATH:$(go env GOPATH)/bin
