source .envrc.local

GRAFANA_CLOUD_API_KEY=${GC_API_KEY}
GRAFANA_CLOUD_METRICS_URL=https://prometheus-us-central1.grafana.net/api/prom/push
GRAFANA_CLOUD_LOG_URL=https://logs-prod-017.grafana.net
GRAFANA_CLOUD_TRACE_URL=https://tempo-us-central1.grafana.net/tempo

GRAFANA_CLOUD_PDC_SIGNING_TOKEN=${GC_PDC_SIGNING_TOKEN}
GRAFANA_CLOUD_HOSTED_GRAFANA_ID=${GC_GRAFANA_ID}
GRAFANA_CLOUD_PDC_CLUSTER=${GC_PDC_CLUSTER}

PATH=$PATH:$(go env GOPATH)/bin
